.Category_CardBody{
    padding: 50px 20px 0 20px;
    .KarimField{
        label{
            text-align: start ;
            font-size: 18px;
            font-weight: 400;
        }
    }
    .btn-primary{
        margin: 30px 0 10px 0;
    }
}